<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <!-- <div th:if="${param.error}">
            UserName or PassWord error
        </div>
        <div th:if="${param.logout}">
            Successfully Logout   
        </div> -->
        <form th:action="@{/login}" method="post">
            <div><label> UserName : <input type="text" name="username"/> </label></div>
            <div><label> PassWord : <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Login"/></div>
        </form>
    </body>
</html>  
